.boxRating {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 3px;

  .wrapperIcon {
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    .icon {
      height: 12px;
    }

    .activeIcon {
      fill: #f59e0b;
    }
  }
}
