@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Funnel+Display:wght@300..800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Funnel+Display:wght@300..800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Irish+Grover&family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --main-color: #ed3232;
  --brand-name-font: "Fredoka", sans-serif;
  --brand-name-color: #202020;
  --brand-name-font-size: 28px;
  --main-font: "Inter", serif;
  --sign-up-font-color: #ff6868;
}
