.waiting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper-assistant-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    // background-color: white;
    .assistant-logo {
      width: 100%;
      object-fit: contain;
    }
  }

  p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
  }
}
