.search-product-result {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 450px;
  overflow-y: hidden;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 1;
  }
  .result-container {
    width: 100%;

    .search-result-item {
      width: 100%;
      padding: 10px;
      border-bottom: 1px dotted #dfe0e1;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }
      .title {
        flex-grow: 1;
        .product-name {
          color: #000000;
          font-size: 12px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: pre;
          float: left;
          width: 100%;
          margin-bottom: 4px;
          font-weight: 500;
        }

        .product-price {
          padding: 4px 0;
          margin-bottom: 0;
          line-height: 15px;
          font-size: 12px;
          font-weight: 400;

          del {
            font-size: 11px;
            margin-left: 10px;
            color: #797979;
          }
        }
      }

      img {
        width: 40px;
      }
    }
    .results-more {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-size: 14px;
      padding: 10px 0;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
