.recover-password-page {
  // flex: 1;
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;

  .recover-password-layout {
    .recover-password-form {
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;
      //   margin: auto;

      width: 350px;
      aspect-ratio: 689 / 645;
      padding: 15px 25px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);

      .arrow-left {
        width: 35px;
        height: 35px;
        position: absolute;
        // margin-right: 10px;
        left: 15px;
        top: 15px;

        cursor: pointer;

        &:hover {
          svg path {
            stroke: #f82d2d;
            // stroke: ;
          }
        }
      }
      .recover-password-description {
        align-self: center;
        text-align: center;
        width: 80%;
        font-size: 0.75em;
      }
      .custom-input {
        height: 40px;
      }

      .recover-password-another-way {
        font-size: 0.8em;
        margin-top: -15px;
      }

      .go-back-link {
        text-align: center;
      }

      .list-otp-entry {
        display: flex;
        height: 30px;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        input {
          height: 30px;
          width: 30px;
          border: 1px solid var(--sign-up-font-color);
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 5px;
        }

        /* Ẩn nút điều hướng trên trình duyệt Webkit (Chrome, Safari) */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Ẩn nút điều hướng trên trình duyệt Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }

      .resend-otp {
        font-size: 0.75em;
        text-align: center;
        margin-top: 10px;
        // cursor: pointer;
        // color: var(--sign-up-font-color);
        // &:hover {
        //   text-decoration: underline;
        // }
      }

      .wrapper-remember-password {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        label {
          cursor: pointer;
        }
        .remember-password-checkbox {
          margin-right: 10px;
          width: 17px;
          height: 17px;
          cursor: pointer;
        }
      }
    }
  }
}
