.sign-up-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  .recover-password-form {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    //   margin: auto;

    width: 350px;
    aspect-ratio: 689 / 645;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.67);

    .arrow-left {
      width: 35px;
      height: 35px;
      position: absolute;
      // margin-right: 10px;
      left: 15px;
      top: 15px;

      cursor: pointer;

      &:hover {
        svg path {
          stroke: #f82d2d;
          // stroke: ;
        }
      }
    }
    .recover-password-description {
      align-self: center;
      text-align: center;
      width: 80%;
      font-size: 0.75em;
    }
    .custom-input {
      height: 40px;
    }

    .recover-password-another-way {
      font-size: 0.8em;
      margin-top: -15px;
    }

    .go-back-link {
      text-align: center;
    }

    .list-otp-entry {
      display: flex;
      height: 30px;
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
      input {
        height: 30px;
        width: 30px;
        border: 1px solid var(--sign-up-font-color);
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
      }

      /* Ẩn nút điều hướng trên trình duyệt Webkit (Chrome, Safari) */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Ẩn nút điều hướng trên trình duyệt Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }

    .resend-otp {
      font-size: 0.75em;
      text-align: center;
      margin-top: 10px;
      // cursor: pointer;
      // color: var(--sign-up-font-color);
      // &:hover {
      //   text-decoration: underline;
      // }
    }

    .wrapper-remember-password {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      label {
        cursor: pointer;
      }
      .remember-password-checkbox {
        margin-right: 10px;
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
    }
  }
  // position: relative;

  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   object-fit: cover;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   z-index: 0;
  // }
  // background-image: url("/assets/images/orange-bg.png");
  .sign-up-layout {
    aspect-ratio: 1325 / 849 !important;
    background-color: #fdefe8;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    .sign-up-image {
      height: 100%;
      //   aspect-ratio: 624 / 800;
      width: 45%;
      border-radius: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    .sign-up-form {
      //   width: 45%;
      flex: 1;
      //   padding: 0 5%;
      padding-left: 7%;
      padding-right: 7%;
      box-sizing: border-box;
      //   margin: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .sign-up-title {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
        // margin-bottom: 15px;
        color: var(--sign-up-font-color);
      }

      .wrapper-term {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .term-checkbox {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .label-term {
          font-size: 0.8em;
          color: #413f3f;
        }
      }

      .wrapper-login-method-label {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .divider {
          height: 1px;
          background-color: black;
          width: 25%;
        }

        .login-method-label {
          font-size: 12px;
        }
      }
      .wrapper-list-login-method {
        margin-top: 3px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-evenly;
        .login-method {
          height: 35px;
          aspect-ratio: 200 / 64;
          border: 1px solid #413f3f;
          border-radius: 7px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 7px;
          font-size: 18px;
          img {
            height: 70%;
          }

          &:hover {
            background-color: #bbb8b8;
            color: white;
          }
        }
      }
      .sign-up-link {
        color: var(--sign-up-font-color);
        text-decoration: none;
        margin-left: 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
