@import "../../styles/variables";
.filter-popup {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 350px;
  // max-height: 350px;
  // overflow-y: hidden;
  background-color: $main-content-bg;
  border-radius: 7px;
  border: #e0dede 1px solid;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 0;
  z-index: 1000;
  cursor: default;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -5px;
  //   left: 0;
  //   width: 100%;
  //   height: 10px;
  //   background-color: none;
  // }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 10px;

    .title {
      font-size: 15px;
      color: #000;
      font-weight: 500;
    }

    .clear-filter-btn {
      border: none;
      outline: none;
      background-color: transparent;
      color: #6c6969;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 13px;
      cursor: pointer;
    }
  }

  .list-filter-option {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;

    color: #1f1e1e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    .filter-box {
      width: 100%;
      border: #cbc8c8 1px solid;
      border-radius: 7px;

      .filter-box__header {
        width: 100%;
        padding: 3px 5px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        // background-color: #f7f7f7;

        .hidden-filter-box-btn {
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .filter-box__content {
        padding: 10px 5px;
        border-top: #cbc8c8 1px solid;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .filer-option {
          width: 100%;
          display: flex;
          gap: 5px;
          align-items: center;
          cursor: pointer;

          .label {
            color: #6c6969;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }

        .wrapper-range {
          .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .range-box {
              border-radius: 0.375rem;
              font-size: 14px;
              font-weight: 400;
              height: 2rem;
              line-height: 20px;
              border: 1px solid #d1d5db;
              padding: 0.375rem 0.75rem;

              width: 45%;
              position: relative;
              &.price-right::after {
                content: ".000";
                position: absolute;
                // z-index: 1;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: red; // Màu mờ
                pointer-events: none; // Không cho phép tương tác
                display: block;
              }
              &.price-left::after {
                content: ".000";
                position: absolute;
                // z-index: 1;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: red; // Màu mờ
                pointer-events: none; // Không cho phép tương tác
                display: block;
              }

              &.order-left::after {
                content: ".000";
                position: absolute;
                // z-index: 1;
                left: 60px;
                top: 50%;
                transform: translateY(-50%);
                color: red; // Màu mờ
                pointer-events: none; // Không cho phép tương tác
                display: block;
              }
              input {
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
              }

              input.first-child {
                text-align: end;
              }
              input.last-child {
                text-align: start;
              }
              input[type="number"]::-webkit-inner-spin-button,
              input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              .range-input {
                padding-right: 30px; // Tạo khoảng trống cho `.000`
              }
            }
          }
        }
      }
    }
  }

  .filter__footer {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-right: 10px;
    margin-top: 10px;
    button {
      padding: 8px 12px;
      border: #cbc8c8 1px solid;
      border-radius: 5px;
      color: #6c6969;
      background-color: transparent;
      cursor: pointer;
    }

    button.apply-filter-btn {
      color: white !important;
      background-color: #4f49fa;
    }
  }
}
