@import "../../styles/variables";

.order-page {
  width: 100%;
  height: 100%;
  // box-sizing: border-box;
  overflow-y: hidden;
  display: flex;

  .page-content {
    flex-grow: 1;
    // display: flex;
    // flex-direction: column;
    // padding-left: 25px;
    .header {
      padding-left: 25px;
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 25px;

      .actions {
        display: flex;
        gap: 15px;
        margin-right: 15px;
        button {
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: #151a1f;
          color: white;
          display: flex;
          gap: 5px;
          align-items: center;
          border-width: 1px;
          border-style: solid;
          border-color: none;
        }

        button.btn-export {
          background-color: white;
          color: black;
          border-color: #1a1f24 !important;
        }

        button.btn-add {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .filter-bar {
      width: 100%;
      //   margin: 0 25px;
      display: flex;
      .list-active-filter {
        display: flex;
        gap: 10px;

        .filter-item {
          position: relative;
          padding: 5px 10px;
          background-color: #1a1f24;
          color: white;
          border-radius: 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          .wrapper-filter-popup {
            position: absolute;
            z-index: 1;
            top: calc(100% + 5px);
            left: 0;
            display: none;
          }

          .wrapper-filter-popup.active {
            display: block;
          }
        }
      }
    }

    // .divider {
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #bababa;
    //   margin: 10px 0;
    //   position: relative;

    //   &::before {
    //     content: "";
    //     position: absolute;

    //     top: 0;
    //     left: -25px;
    //     height: 1px;
    //     background-color: #bababa;
    //     width: 25px;
    //   }
    // }

    .order-statistics {
      width: 100%;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 25px;
      .statistics-item {
        width: 20%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #bababa;
        gap: 15px;

        .icon {
          border: 1px solid #bababa;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .statistics-item__detail {
          display: flex;
          flex-direction: column;
          // gap: 5px;
          .title {
            font-size: 14px;
            color: #545454;
          }

          .value {
            font-size: 16px;
            font-weight: 600;
            color: #1a152b;
          }
        }
      }
    }

    .quick-access-bar {
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #bababa;
      padding: 5px 0;
      padding-left: 25px;
      padding-right: 10px;
      padding-bottom: 10px;
      height: 45px;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-side,
      .right-side {
        height: 100%;
      }
      .left-side {
        .filter-order-by-status-bar {
          height: 100%;
          // width: 100px;
          padding: 2px;
          border-radius: 7px;
          border: 1px solid #bababa;
          display: flex;
          align-items: center;
          gap: 1px;
          .status-item {
            height: 100%;
            cursor: pointer;
            border-radius: 6px;
            font-size: 10px;
            border: none;
            outline: none;
            padding: 0 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            &:hover {
              background-color: #cccbf5;
            }
          }

          .status-item.active {
            background-color: #cccbf5 !important;
          }
        }
      }

      .right-side {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #545454;
        .search-bar {
          height: 100%;
          border-radius: 7px;
          border: 1px solid #bababa;
          min-width: 200px;
          padding: 0 !important;
          display: flex;
          align-items: center;
          // gap: 5px;
          .wrapper-search-icon {
            height: 100%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .search-input {
            border: none;
            outline: none;
            background-color: transparent;
          }
        }

        .wrapper-filter-box {
          height: 100%;
          width: 80px;
          position: relative;

          .toggle-filter-popup-btn {
            color: #545454;
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            border-radius: 7px;
            border: 1px solid #bababa;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0 10px;
          }
        }
      }
      .list-quick-filter-item {
        width: 100%;
        display: flex;
        gap: 25px;

        .quick-filter-item {
          cursor: pointer;
          display: flex;
          gap: 5px;
          font-size: 16px;
          color: #545454;
          font-weight: 500;
          padding-bottom: 10px;
          border-bottom: 2px solid transparent;
          transform: translateY(1px);
          &:hover {
            color: #ff5722;
            border-bottom: 2px solid #ff5722;
          }
        }

        .quick-filter-item.active {
          border-bottom: 2px solid #ff5722;
          color: #ff5722;
        }
      }
    }
    .list-order {
      padding-left: 15px;
      // flex-grow: 1;
      // height: ;

      .box-order-status-item {
        .order-status-item {
          padding: 3px 7px;
          border-radius: 4px;
          font-weight: 500;
        }

        .order-status-item.pending {
          background-color: #ffe6bc;
          color: #ffa200;
        }

        .order-status-item.delivering {
          background-color: #d7d8f1;
          color: #4e53fb;
        }

        .order-status-item.canceled {
          background-color: #f1d7d7;
          color: #fb4e4e;
        }

        .order-status-item.delivered {
          background-color: #c5e9c1;
          color: #0b6d13;
        }

        .order-status-item.packaged {
          background-color: #d7f1f1;
          color: #01666b;
        }
      }
      .MuiPaper-root {
        box-shadow: none !important;
        background-color: transparent !important;
        flex-grow: 1;
        .css-yseucu-MuiDataGrid-columnHeaderRow {
          background: none !important;
        }

        .Mui-checked {
          color: #ff5722 !important; // Màu checkbox khi được chọn
        }
      }
      .MuiDataGrid-root {
        border: none; // Bỏ viền bảng
      }

      .MuiDataGrid-columnHeaders {
        // background-color: transparent; // Bỏ màu nền tiêu đề
        background-color: #f0f2f5 !important;
        color: #000;
        height: 52px !important;
      }

      .MuiDataGrid-cell {
        background-color: transparent; // Bỏ màu nền cell
      }

      .MuiDataGrid-row {
        background-color: transparent; // Bỏ màu nền hàng
      }

      .MuiDataGrid-row:hover {
        background-color: transparent; // Bỏ màu nền khi hover
      }
    }
  }

  .statistics-side {
    width: 25%;
    border-left: 1px solid #bababa;
  }
}
