@import "../../styles/variables";

.user-page {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;

  .page-content {
    flex-grow: 1;
    .header {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 25px;
      padding-left: 25px;
      .actions {
        display: flex;
        gap: 15px;
        margin-right: 15px;
        .btn {
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: #151a1f;
          color: white;
          font-size: 14px;
          display: flex;
          gap: 5px;
          align-items: center;
          border-width: 1px;
          border-style: solid;
          border-color: none;
        }

        .btn-export {
          background-color: white;
          color: black;
          border-color: #1a1f24 !important;
        }

        .btn-add {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    .quick-access-bar {
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #bababa;
      padding: 5px 0;
      padding-left: 25px;
      padding-right: 10px;
      height: 50px;
      padding-bottom: 10px;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-side,
      .right-side {
        height: 100%;
      }
      .left-side {
        .filter-order-by-status-bar {
          height: 100%;
          // width: 100px;
          padding: 2px;
          border-radius: 7px;
          border: 1px solid #bababa;
          display: flex;
          align-items: center;
          gap: 1px;
          .status-item {
            height: 100%;
            cursor: pointer;
            border-radius: 6px;
            border: none;
            outline: none;
            padding: 0 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            &:hover {
              background-color: #cccbf5;
            }
          }

          .status-item.active {
            background-color: #cccbf5 !important;
          }
        }
      }

      .right-side {
        display: flex;
        align-items: center;
        gap: 10px;
        .search-bar {
          height: 100%;
          border-radius: 7px;
          border: 1px solid #bababa;
          min-width: 200px;
          padding: 0 !important;
          display: flex;
          align-items: center;
          // gap: 5px;
          .wrapper-search-icon {
            height: 100%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .search-input {
            border: none;
            outline: none;
            background-color: transparent;
            color: #545454;
          }
        }

        .wrapper-filter-box {
          height: 100%;
          width: 80px;
          position: relative;

          .toggle-filter-popup-btn {
            color: #545454;
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            border-radius: 7px;
            border: 1px solid #bababa;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0 10px;
          }
        }
      }
    }

    .list-user {
      padding-left: 15px;

      .MuiDataGrid-columnHeaders {
        background-color: #f0f2f5 !important;
        color: #000;
      }

      .wrapper-role,
      .wrapper-status {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        width: 100%;
        .role,
        .status {
          line-height: normal;
          background-color: rgb(140, 228, 193);
          padding: 5px 10px;
          border-radius: 5px;
          font-weight: 500;
        }

        .role.role--customer,
        .status.status--inactive {
          background-color: rgb(228, 140, 140);
        }
      }
    }
  }
}
