.create-variant-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000 !important;

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    box-sizing: border-box;
    .popup-variant {
      width: 400px;
      background-color: white;
      border-radius: 7px;

      padding: 10px;

      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
      }

      .popup-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input-container {
          width: 100%;

          .input-title {
            color: #313131;
            margin-bottom: 2px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .word-limit {
              font-size: 10px;
              color: #989898;
              font-weight: 400;
            }
          }

          .input-text {
            width: 100%;
            padding: 7px 0;
            padding-left: 15px;
            padding-right: 5px;
            color: #313131;
            border: #989898 1px solid;
            border-radius: 10px;
          }

          .input-text:focus {
            outline: none;
            border: #f3acac 1px solid;
          }

          .input-text.text-area {
            resize: none;
          }
          .wrapper-select-variant-iamge {
            display: flex;
            // flex-direction: column;
            gap: 10px;
            .custom-select-file {
              display: none;
            }

            .label-custom-select-file {
              width: fit-content;
              height: 27px;
              display: flex;
              gap: 7px;
              font-size: 14px;
              align-items: center;
              border-radius: 5px;
              padding: 0 10px;
              background-color: #f3c3c3;
              font-weight: 500;
              cursor: pointer;
            }

            .wrapper-variant-image {
              height: 150px;
              width: 250px;
              // aspect-ratio: 1;
              border-radius: 5px;
              // background-color: #c4c4c4;
              border: #1d3b79 1px dashed;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                // width: 80% !important;
                height: 100%;
                object-fit: cover;
                // border-radius: 5px;
                // height: 100%;
              }
            }
          }
        }
      }

      .popup-service {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;

        .popup-btn {
          outline: none;
          border-radius: 10px;
          border: #1d3b79 1px solid;

          padding: 5px 10px;
          color: white;

          background-color: #1d3b79;
          font-weight: 500;
        }

        .popup-btn.cancel-btn {
          border: #f03c0f 1px solid;
          background-color: white;
          color: #f03c0f;
        }
      }
    }
  }
}
