.delivery-info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-inner {
      // display: block;
      width: 300px;
      background-color: white;
      border-radius: 7px;

      padding: 10px;

      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
      }

      .popup-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input-container {
          width: 100%;
          .location-container {
            width: 100%;
            padding: 5px 0;
            padding-left: 15px;
            padding-right: 5px;
            color: #313131;
            border: #989898 1px solid;
            border-radius: 10px;
            position: relative;

            svg {
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
            }
            .location-input {
              width: calc(100% - 30px);
              color: #313131;
              font-size: 15px;
            }

            .location-box {
              position: absolute;
              left: 0;
              top: calc(100% + 5px);
              width: 100%;
              z-index: 1000;
            }
          }
          .input-title {
            color: #313131;
            margin-bottom: 2px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .word-limit {
              font-size: 10px;
              color: #989898;
              font-weight: 400;
            }
          }

          .input-text {
            width: 100%;
            padding: 7px 0;
            padding-left: 15px;
            padding-right: 5px;
            color: #313131;
            border: #989898 1px solid;
            border-radius: 10px;
          }

          .input-text:focus {
            outline: none;
            border: #f3acac 1px solid;
          }

          .input-text.text-area {
            resize: none;
          }
          .wrapper-select-icon {
            display: flex;
            gap: 10px;
            .custom-select-icon {
              display: none;
            }

            .label-custom-select-icon {
              width: fit-content;
              height: 27px;
              display: flex;
              gap: 7px;
              font-size: 14px;
              align-items: center;
              border-radius: 5px;
              padding: 0 10px;
              background-color: #f3c3c3;
              font-weight: 500;
              cursor: pointer;
            }

            .wrapper-cate-icon {
              height: 27px;
              aspect-ratio: 1;
              border-radius: 50%;
              background-color: #c4c4c4;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 80% !important;
                object-fit: cover;
                // height: 100%;
              }
            }
          }
        }
      }

      .popup-service {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;

        .popup-btn {
          outline: none;
          border-radius: 10px;
          border: #1d3b79 1px solid;

          padding: 5px 10px;
          color: white;

          background-color: #1d3b79;
          font-weight: 500;
        }

        .popup-btn.cancel-btn {
          border: #f03c0f 1px solid;
          background-color: white;
          color: #f03c0f;
        }
      }
    }
  }
}
